*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.summary{
    padding-top: 150px;
    color: white;
    
    width: 500px;
    margin: auto;
}
.summary ol{
    text-align: left;
}
.summary ol li{
    font-size: 16px;
}
button{
    background: none;
    border: none;
    color: blue;
}
@media screen and (max-width:1000px) {
    .summary{
        width: 80%;
    }
    
}
@media screen and (max-width:700px){
    .summary{
        width: 90%;
    }
}